* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f5f7fa;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 1200px;
    margin: auto;
    background-color: #fff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 56px;
}

p {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

.giaodien {
    background-image: url(../glassesImage/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    padding: 40px 0;
    margin-top: 50px;
}


